*{
    box-sizing: border-box;
}
body{
    margin: 0;
     font-family: "Roboto", sans-serif;
}
header{
    
    background-color: #a2d2ff;
    

}
header img{
    width: 200px;
    border-radius: 10%;
}
section{
    margin-left: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 50px;
}
hr{
    border: 2px solid black;
}
#summary{
    height: 10%;
}
#exprience{
  position: relative;
  bottom: 50px;
   
}
#skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
  
}
.bar{
    width:80px;
    display: inline-block;
    border:1px solid #343a40;
}